version: 2.1
orbs:
  aws-cli: circleci/aws-cli@4.1.3
jobs:
  build-and-push-image:
    docker:
      - image: cimg/base:2024.02
      # - image: jdrouet/docker-with-buildx:stable
    steps:
      - checkout
      - aws-cli/setup:
          profile_name: default
      - setup_remote_docker
      - run:
          name: Login to AWS ECR (Public)
          command: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws
      - run:
          name: Build the Docker image
          command: |
            docker build --platform="linux/arm64" --push -t public.ecr.aws/"${AWS_ECR_PUBLIC_REGISTRY_ALIAS}"/"${ECR_REPO_NAME}":"${CIRCLE_SHA1}" .
      # docker buildx build  --platform="linux/amd64,linux/arm64" --push -t public.ecr.aws/"${AWS_ECR_PUBLIC_REGISTRY_ALIAS}"/"${ECR_REPO_NAME}" .

workflows:
  build-and-push:
    jobs:
      - build-and-push-image:
          context:
            - aws-creds