version: 2.1
orbs:
  aws-cli: circleci/aws-cli@4.1.3
jobs:
  build-and-push-image:
    docker:
      - image: cimg/base:2024.02
    steps:
      - checkout
      - aws-cli/setup:
          profile_name: default
      - setup_remote_docker
      - run:
          name: Login to AWS ECR (Public)
          command: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws
      - run:
          name: Build the Docker image
          command: |
            docker build -t public.ecr.aws/"${AWS_ECR_PUBLIC_REGISTRY_ALIAS}"/"${ECR_REPO_NAME}" .
      - run:
          name: Push the image to ECR (Public)
          command: docker push public.ecr.aws/"${AWS_ECR_PUBLIC_REGISTRY_ALIAS}"/"${ECR_REPO_NAME}":latest

workflows:
  build-and-push:
    jobs:
      - build-and-push-image:
          context:
            - aws-creds